/* styles for whole body */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'International Super Hero', sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, rgb(172, 227, 255), rgb(238, 86, 86));
  background-repeat: no-repeat;
}

/* styles for header: What Superhero Are You? */
header.header {
  text-align: center;
  font-size: 60px;
  border: 3px solid;
  border-radius: 25px;
  margin-left: 250px;
  margin-right: 250px;
}

/* styles for h2 header: Have you ever wondered...? */
h2 {
  text-align: center;
  font-size: 40px;
}

/* styles for 4 images in header */
#hero-images {
  margin: 25px;
  text-align: center;
}
.hero-displays {
  border-radius: 50%;
  width: 128px;
  height: 192px;
  margin-left: 50px;
  margin-right: 50px;
}

/* styles for directions in header */
.p1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: -15px;
}

/* styles for each form div with .form-div class */
div.form-div {
  width:400px;
  margin: auto;
  font-size: 20px;
}

/* styles for fieldset box */
.fieldsets {
}

/* styles for forms box */
.forms {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  margin-top: -15px;
}

/* style for "submit" and "next" buttons */
.btn {
  background-color: rgb(177, 28, 28);
  color: white;
  border-radius: 20%;
  padding: 10px 15px;
}

/*.btn:hover {
  background-color: darkred;
}

/* style for whole lightbox */
#lightbox {
  opacity: 1;
  display: flex;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 23%;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


/* styles for within lightbox */
.name {
  text-align: center;
  color: aqua;
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 0;
}

.pub {
  text-align: center;
  color: wheat;
  font-size: 30px;
}

.randomImg {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -450px;
  margin-left: -240px;
}

.description {
  margin-top: 700px;
  margin-left: 20%;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 24px;
}

.work {
  width: 50%;
  margin: auto;
  margin-top: 0px;
}

.stats{
  width: 50%;
  margin: auto;
  margin-top: 0px;
}

.close-cursor{
  color: red;
  font-size: 30px;
  margin-left: 98%;
  background: white;
  text-align: center;
}
